body {
	height:  1000px;
	margin: 0px;
	padding: 0px;
	overflow-y : auto;
	overflow-x: hidden;
}

.clock {
	margin:0 auto;
	height: 5%;
	width: 15%;
	min-width: 218px;
	border: 5px solid black;
	font-size: 30px;
}

#seconds {
	position: relative;
	display: flex;
	top: 0%;
	margin-right: 10px;
	width: 20%;
	float: left;
}

#hour {
	position: relative;
	display: flex;
	float: left;
	margin-right: 10px;
	width: 20%;
	margin-left: 3%;
}

#minutes {
	position: relative;
	display: flex;
	width: 20%;
	margin-right: 10px;
	float: left;
}

#prefix {
	position: relative;
	display: flex;
	margin-right: 10px;
	width: 20%;
}

td, th {
	border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.departures {
	margin:0 auto;
	top: 7%;
	width:240px;
	border: 5px solid #4d4949
}

.animation {
	position: absolute;
	background-color: black;
	width: 200px;
	height: 200px;
	top: 70%;
}


#active {
	background-color: red;
}
button{
	height:100px;
}
.pannel{
	position:fixed;
	bottom:0;
	right:0;
}
#night{
	height: 1000px;
	z-index: 0;
	width: 100%;
	background-color: #8d5273; 
 	background-image: linear-gradient(#8d5273, #e8817f);
}
#day{
	height: 1000px;
	z-index: 0;
	width: 100%;
	background-color: #eea990; 
 	background-image: linear-gradient(#f6e0b5, #eea990);
}
.clouds{
	width:1920px;
	position:absolute;
	top:20px;
	z-index: -1;
}
.mountains{
	width:1920px;
	position: absolute;
	left:0px;
	bottom:30px;
}
.airport{
	width: 1920px;
	position:absolute;
	bottom:0px;
}
