.outer_face {
position: relative;
width: 250px;
height: 250px;
border-radius: 250px;
background: white;
box-shadow: inset 0 0 10px gray;
border: 14px solid black
}

.outer_face::before, .outer_face::after{ /* 12-6 and 9-3 hour markers */
content: "";
position: absolute;
width: 10px;
height: 100%;
background: black;
z-index: 0;
left: 50%;
margin-left: -5px;
top: 0
}

.outer_face::after { /* 9-3 time marker specifically*/
-moz-transform: rotate(90deg);
-ms-transform: rotate(90deg);
-webkit-transform: rotate(90deg);
transform: rotate(90deg)
}
